{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div class="container mt-5 mb-5 text-center">
        <div class="row">
            {% include "items/partials/state_selector.html" %}
            <p class="fs-5 mt-3">Se encontraron {{ item_list|length }} resultados para "<b>{{ request.GET.search }}</b>"</p>
            {% for item in item_list %}
                <div class="col-md-4 text-center">
                    <div class="card m-3 mx-auto" style="width: 18rem;">
                        {% if item.image %}
                            <img src="{{ item.image.url }}" class="img-fluid mt-1 mx-auto" style="width: 250px; height: 250px; object-fit: cover;">
                        {% else %}
                            <img src="{% static 'items/img/no-image.jpg' %}" class="img-fluid mt-1 mx-auto" style="width: 250px; height: 250px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name |truncatechars:"16"}}</h5>
                            <h6>{{ item.price }} $</h6>
                            <a href="{% url "items:detail" item.pk %}" class="btn btn-custom">Ver detalles</a>
                        </div>
                    </div>
                </div>              
            {% endfor %}
        </div>
        {% include "items/partials/paginator.html" %}
    </div>
{% endblock %}